<div class="shopFilter">

  <aside class="shopFilter__panel menu"
         [class.shopFilter__panel--isActive]="isActive"
  >
    <p class="menu-label">
      Filters
    </p>
    <ul class="menu-list">
      <li>
        <div class="field">
          <label class="label has-text-weight-light"
                 for="filterTitle"
          >
            Title
          </label>
          <p class="control has-icons-right">
            <input class="input"
                   type="text"
                   id="filterTitle"
                   [value]="filters.search"
                   (input)="handleSetSearch($event)"
            >
            <button class="delete shopFilter__clearField"
                    *ngIf="filters.search"
                    (click)="handleClearSearch(); $event.stopImmediatePropagation()"
            ></button>
          </p>
        </div>
      </li>
      <li>
        <div class="field">
          <label class="label has-text-weight-light"
                 for="filterAuthors"
          >
            Authors
          </label>
          <p class="control">
            <app-autocomplete-input #authorsFilter
                                    componentClass="input"
                                    componentId="filterAuthors"
                                    (search)="handleAuthorSearch($event)"
                                    (selectResults)="handleAuthorSelect($event)"
                                    [searchResults]="searchAuthors"
            ></app-autocomplete-input>
          </p>
        </div>
      </li>
      <li>
        <div class="field is-grouped shopFilter__controls">
          <button class="button is-primary control has-text-centered"
                  (click)="submitFilters()"
                  [style.display]="isFiltersSet ? 'block' : 'none'"
          >
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
          </button>
          <button class="button is-warning control has-text-centered"
                  (click)="resetFilters()"
                  [style.display]="isFiltersApplied ? 'block' : 'none'"
          >
              <span class="icon">
                <i class="fas fa-ban"></i>
              </span>
          </button>
        </div>
      </li>
    </ul>
  </aside>

  <button class="shopFilter__triggerButton button is-rounded is-medium"
          [class.is-dark]="!isFiltersApplied"
          [class.is-warning]="isFiltersApplied"
          (click)="toggleMenu(); $event.stopImmediatePropagation()"
  >
    <span class="icon"
          *ngIf="!isActive; else activeFilterButton"
    >
      <i class="fas fa-filter"
         *ngIf="!isFiltersApplied; else appliedFiltersIcon"
      ></i>
      <ng-template #appliedFiltersIcon>
        <i class="fas fa-funnel-dollar"></i>
      </ng-template>
    </span>
    <ng-template #activeFilterButton>
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
    </ng-template>
  </button>

</div>
