<div appClickOutside
     (clickedOutside)="isActive = false"
     class="shopFilter"
>

  <aside class="shopFilter__panel menu"
         [class.shopFilter__panel--isActive]="isActive"
  >
    <p class="menu-label">
      Filters
    </p>
    <ul class="menu-list">
      <li>
        <app-input [(value)]="filters.search"
                   componentId="filterTitle"
                   componentLabel="Title"
        ></app-input>
      </li>
      <li>
        <app-autocomplete-input #authorsFilter
                                componentId="filterAuthors"
                                componentLabel="Authors"
                                (search)="handleAuthorSearch($event)"
                                (selectResults)="handleAuthorSelect($event)"
                                [searchResults]="searchAuthors"
        ></app-autocomplete-input>
      </li>
      <li>
        <div class="field is-grouped shopFilter__controls">
          <button class="button is-primary control has-text-centered"
                  (click)="submitFilters()"
                  [style.display]="isFiltersSet ? 'block' : 'none'"
          >
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
          </button>
          <button class="button is-warning control has-text-centered"
                  (click)="resetFilters()"
                  [style.display]="isFiltersApplied ? 'block' : 'none'"
          >
              <span class="icon">
                <i class="fas fa-ban"></i>
              </span>
          </button>
        </div>
      </li>
    </ul>
  </aside>

  <button class="shopFilter__triggerButton button is-rounded is-medium is-dark"
          (click)="isActive = !isActive; $event.stopImmediatePropagation()"
  >
    <span class="icon"
          *ngIf="!isActive; else activeFilterButton"
    >
      <i class="fas fa-filter"
         *ngIf="!isFiltersApplied; else appliedFiltersIcon"
      ></i>
      <ng-template #appliedFiltersIcon>
        <i class="fas fa-funnel-dollar"></i>
      </ng-template>
    </span>
    <ng-template #activeFilterButton>
      <span class="icon">
        <i class="fas fa-times"></i>
      </span>
    </ng-template>
  </button>

</div>
